<div class="mat-elevation-z8 p-3 container main-content">
    <h1 class="text-center">Animal tree</h1>
    <div class="rounded bg-light m-3 text-center">
        <h4>Panel for editing tree</h4>
        <div *ngIf="selectedNode">
            <span class="mr-5">Node name - {{selectedNode.name ? selectedNode.name : rootTitle}}</span>
            <span *ngIf="isNodeHasKindsOfSpecies(selectedNode)">Number of species - {{selectedNode.numberOfKinds}}</span>
        </div>
        <div>
            <button mat-raised-button class="mx-4 my-2" color="primary" [disabled]="!selectedNode || isNodeCantHasChild(selectedNode)">
                Add child
            </button>
            <button mat-raised-button class="mx-4 my-2" color="accent" [disabled]="!selectedNode || isNodeRoot(selectedNode)">
                Edit node
            </button>
            <button mat-raised-button class="mx-4 my-2" color="warn" [disabled]="!selectedNode || isNodeRoot(selectedNode)">
                Delete node
            </button>
        </div>
        <div *ngIf="isAddAction() || isEditAction()">
            <form [formGroup]="actionForm">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input formControlName="name" name="name" matInput [(ngModel)]="actionNode.name">
                </mat-form-field>
                <mat-form-field *ngIf="">
                    <mat-label>Number of kinds</mat-label>
                    <input formControlName="numberOfKinds" name="numberOfKinds" matInput [(ngModel)]="actionNode.numberOfKinds">
                </mat-form-field>
            </form>
        </div>

        <div *ngIf="isEditAction()">

        </div>

        <div *ngIf="isDeleteAction()">

        </div>
    </div>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <button *ngIf="node.expandable" class="bg-warning" mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <button *ngIf="!node.expandable" mat-icon-button disabled></button>
            <span class="ml-2 p-2 node" [ngClass]="{'selected-node': selectedNode === node}"
                  (click)="onNodeClick(node)">
                    {{node.name ? node.name : rootTitle}} {{node.numberOfKinds ? node.numberOfKinds : ""}}
            </span>
        </mat-tree-node>
    </mat-tree>
</div>
